body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #222;
  margin: 10px auto;
  padding: 15px;
  width: 300px;
  border-radius: 10px;
}
